In [ ]:
import pandas as pd

In [ ]:
t5_df = pd.read_csv('t5.csv')
hystack_df = pd.read_csv('hystack.csv')
allen_df = pd.read_csv('allen.csv')
#qa_df = pd.read_csv('q&a.csv')

In [ ]:
final = pd.concat([t5_df, hystack_df , allen_df], axis=1)

In [ ]:
final.head()

,t5 answer,t5 question,hystack answer,hystack context,t5 answer_to_elmo-bidaf,allen_elmo-bidaf_answer
0,tombs,What did robbers break into to steal treasure?,the tombs,mids drew attention to the tombs inside them. ...,tombs,tombs
1,temples,What type of structures were erected by skille...,stone or brick houses and temples,s to write and keep records. Some skilled arti...,temples,stone or brick houses and temples
2,pharaohs,Who spent a lot of money in preparation for th...,pharaohs,uched. The dazzling riches found in this tomb ...,pharaohs,the pharaohs
3,water,What did the first miller mix with wheat flour...,yeast and water,were the first to grind wheat into flour and ...,water,yeast and water
4,cool,What season was it during that was miserable w...,cool season,ans simply went to the roof to cool off after ...,cool,cool season

In [ ]:
#drop t5 to elmo column
final.drop(labels = 't5 answer_to_elmo-bidaf' , axis = 1 )

,t5 answer,t5 question,hystack answer,hystack context,allen_elmo-bidaf_answer
0,tombs,What did robbers break into to steal treasure?,the tombs,mids drew attention to the tombs inside them. ...,tombs
1,temples,What type of structures were erected by skille...,stone or brick houses and temples,s to write and keep records. Some skilled arti...,stone or brick houses and temples
2,pharaohs,Who spent a lot of money in preparation for th...,pharaohs,uched. The dazzling riches found in this tomb ...,the pharaohs
3,water,What did the first miller mix with wheat flour...,yeast and water,were the first to grind wheat into flour and ...,yeast and water
4,cool,What season was it during that was miserable w...,cool season,ans simply went to the roof to cool off after ...,cool season
5,flour,What did the first miller grind wheat into?,flour,hniques gave them more farmland. They were the...,flour
6,provinces,What did the Egyptians divide the empire into?,42 provinces,beasts. Egyptians created a government that d...,42 provinces
7,empire,What empire was gaining strength in the Old Ki...,Egyptian,and the New Kingdom. The Old Kingdom started a...,Egyptian empire
8,current,What was slow on the Mississippi River?,The river’s current,erang is a curved stick that returns to the pe...,current

In [ ]:
final = final.reindex(columns=["t5 question",'t5 answer',"hystack answer","allen_elmo-bidaf_answer","hystack context"])

In [ ]:
final.head()

,t5 question,t5 answer,hystack answer,allen_elmo-bidaf_answer,hystack context
0,What did robbers break into to steal treasure?,tombs,the tombs,tombs,mids drew attention to the tombs inside them. ...
1,What type of structures were erected by skille...,temples,stone or brick houses and temples,stone or brick houses and temples,s to write and keep records. Some skilled arti...
2,Who spent a lot of money in preparation for th...,pharaohs,pharaohs,the pharaohs,uched. The dazzling riches found in this tomb ...
3,What did the first miller mix with wheat flour...,water,yeast and water,yeast and water,were the first to grind wheat into flour and ...
4,What season was it during that was miserable w...,cool,cool season,cool season,ans simply went to the roof to cool off after ...